<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
  <h2>Operación {{operation}} efectuada correctamente en:</h2>
  <ul>
    <li><b>Rut</b>: {{user.rut}}</li>
    <li><b>Nombre</b>: {{user.firstname}}</li>
    <li><b>Apellido</b>: {{user.lastname}}</li>
    <li><b>Tipo</b>: {{user.role}}</li>
  </ul>
</body>

</html>